/* color palette idea: https://colorhunt.co/palette/e14d2afd841f3e6d9c001253 */

/* GENERAL */

* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 2;
  color: #6F6F6F;
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}

.light-colour {
  color: #C9C9C9;
}

a {
  font-weight: 700;
}
 
li {
  list-style-type: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.header-wrapper {
  position: absolute;
  width: 100%;
}

/* HEADER */

header {
  position: absolute;
  width: 100%;

  /* background: linear-gradient(to right, #3E6D9C 10rem, rgb(0 0 0 / 0) 30rem); */

}

.fixed {
  position: fixed;
  background-color: #2A5067;
  z-index: 999;
}

.menu-icons {
  height: 3rem;
}

.hamburger {
  filter: invert(89%) sepia(3%) saturate(13%) hue-rotate(10deg) brightness(95%) contrast(82%);
}

.close {
  filter: invert(48%) sepia(7%) saturate(8%) hue-rotate(330deg) brightness(86%) contrast(80%);
  z-index: 10;
}

.hamburger, .close {
  height: 3rem;
}

.beer {
  filter: invert(19%) sepia(11%) saturate(4374%) hue-rotate(312deg) brightness(91%) contrast(85%);
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 1rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  margin-bottom: 1rem;
  flex-basis: 33%;
}

@media only screen and (width <= 700px) {
  .option {
    flex-basis: 50%;
  }
}

@media only screen and (width <= 450px) {
  .option {
    flex-basis: 100%;
  }
}

nav {
  position: relative;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

header img {
  height: 5rem;
  
  /* background: linear-gradient(to right, white 0%,  #3E6D9C 20%, #3E6D9C 80%, white 100%); */

  padding: 1rem;
  border-radius: 8px;
}

.menu-items {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}

.menu-items li {
  margin: 1.25rem 1rem;
  font-size: 1rem;
}

.mobile-menu {
  position: absolute;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255 255 255 / 80%);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: all 0.3s ease-in;
}

.mobile-menu-open {
  transform: translateX(0%);
}

.call-to-action {
  background-color: #6E292C;
  border-radius: 8px;
  color: white;
  padding: 0.4rem 1.25rem;
}

@media only screen and (width <= 815px) {
  header img {
    height: 4rem;
  }
}

@media only screen and (width <= 450px) {
  nav {
    padding: 0 1rem;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0 0 0 / 60%),rgba(0 0 0 / 60%)), url("../img/blue-sky.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-image-text {
  font-size: 2rem;
  font-style: italic;
  width: 90%;
  margin: 0 auto;
  text-align: right;
}

/* SECTIONS */ 

section {
  padding-top: 7rem;
}

section:nth-of-type(even) {
  background-color: #F8F8F8;
}

h1 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem 0;
}

.row {
  display: flex;
  width: 90%;
  margin: auto;
}

.column {
  margin: 2rem auto;
  width: 100%;
}

/* ABOUT */

.text-block-header {
  font-weight: 900;
  color: #6E292C;
}

.center {
  text-align: center;
}

.text-block, .text-block-header {
  width: 80%;
  margin: 0 auto 1rem;
}

.column-image {
  max-height: 30vh;
  max-width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

@media only screen and (width <= 630px) {
  .row {
    flex-direction: column;
  }

  .column-image {
    max-height: 40vh;
  }
}

/* GALLERY */

.gallery-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 33%;
  height: 20vw;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
}

@media only screen and (width <= 700px) {
  .gallery-image {
    width: 100%;
    height: 40vw;
  }
}

.gallery-image img {
  opacity: 0.6;
  width: 100%;
  transform: scale(1.30);
  height: auto;
  transition: all 0.3s ease;
}

.focus-image-background img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-image img:hover {
  opacity: 1;
  height: auto;
  transform: scale(1.20);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
}

.focus-image-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 60%);
  transition: visibility 0.2s linear,opacity 0.2s linear;
  cursor: pointer;
  z-index: 2;
}

.lock {
  overflow: hidden;
}

/* HIRE */

@media only screen and (width <= 830px) {
  .hire-row {
    flex-direction: column;
  }
}

.card-column {
  padding: 1rem;
  flex-basis: 25%;
}

.card {
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 30%);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header {
  text-transform: uppercase;
  color: #6E292C;
  margin-bottom: 2rem;
}

.card-text {
  text-align: left;
  margin-bottom: 2rem;
}

.enquire {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.smallprint {
  margin-top: 3rem;
}

@media only screen and (width <= 630px) {
  .smallprint {
    margin-top: 0;
  }
}

/* TESTIMONIALS */

#testimonials .row .column {
  position: relative;
}

blockquote {
  font-style: italic;
  width: 90%;
  margin: 1rem auto;
}

blockquote::before {
  content: "\201C";
  font-size: 5rem;
  display: block;
  position: absolute;
  top: -65px;
  left: 0;
}

/* CONTACT */

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

@media only screen and (width <= 770px) {
  form {
    width: 90%;
  }
}

input, textarea, select, .g-recaptcha {
  border-radius: 5px;
  margin-bottom: 20px;
}

input, textarea, select {
  background-color: #F3F3F3;
  border: solid 1px #F3F3F3;
  padding: 10px;
}

.name-input:focus, .email-input:focus, textarea:focus {
  outline: 0;
  border: solid 1px #6E292C;
}

.form-submit, .form-submit::after {
  width: 60%;
  margin: auto;
  color: #6E292C;
  border: 2px solid #6E292C;
  transition: all 0.3s linear;
}

.form-submit:hover {
  background-color: #6E292C;
  border: 2px solid #6E292C;
  color: white;
}

.form-submit:active {
  transition: none;
  color: white;
  border: 2px solid #6E292C;
  background-color: #6E292C;
}

.feedback-section {
  position: relative;
  height: 2rem;
  transition: all 1s ease-in-out;
}

.alert {
  color: white;
  padding: 0.5rem;
  width: 90%;
  border-radius: 6px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.alert-success {
  background-color: #4caf50;
}

.alert-fail {
  background-color: #f44336;
}

.alert-warn {
  background-color: #ffbf00;
}

.alert i {
  float: left;
  color: white;
}

.transparent {
  opacity: 0;
  transform: translateY(3rem);
}

iframe {
  vertical-align: bottom;
  margin-bottom: 2rem;
}

/* FOOTER */

footer {
  border-top: 1px solid #D4D4D4;
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  flex-basis: 33%;
  text-align: center;
}

.footer-icons {
  height: 1.5rem;
  margin: 0.5rem;
  filter: invert(47%) sepia(0%) saturate(0%) hue-rotate(51deg) brightness(92%) contrast(93%);
  transition: filter 0.2s linear;
}

.instagram-icon:hover {
  filter: invert(84%) sepia(43%) saturate(1896%) hue-rotate(325deg) brightness(102%) contrast(98%);
}

.facebook-icon:hover {
  filter: invert(31%) sepia(80%) saturate(462%) hue-rotate(181deg) brightness(88%) contrast(86%);
}
