/* color palette idea: https://colorhunt.co/palette/e14d2afd841f3e6d9c001253 */
* {
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 150%;
  color: #6f6f6f;
}

a {
  font-weight: 700;
}

header {
  /*background: linear-gradient(to right, #3E6D9C 10rem, rgba(0, 0, 0, 0.0) 30rem);*/
}

nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 7rem;
  
  /* background: linear-gradient(to right, white 0%,  #3E6D9C 20%, #3E6D9C 80%, white 100%); */

  padding: 1rem;
  border-radius: 8px;
}

header ul {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

header ul li {
  list-style-type: none;
  margin: 0 1rem;
  font-size: 1.25rem;
}

header ul li a {
  color: #C9C9C9;
}

.call-to-action {
  background-color: #FD841F;
  border-radius: 8px;
  color: #C9C9C9;
  font-size: 1.25rem;
  padding: 0.4rem 1.25rem;
}

.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/hero-image.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-image-text {
  color: #C9C9C9;
  font-size: 2rem;
  font-style: Italic;
}
